/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main2{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  /* margin-left: 400px; */
  
}

h1 {
  font-family: "lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
body{
  /* position: fixed; */
  overflow: hidden;
  
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btnn {
  color: black !important; 
  padding: 12px !important;
  font-size: 18px;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  border-radius: 9px;
  font-weight: 900;
  display: block;
  width: 40%;
  cursor: pointer;
  border: 7px solid rgba(255, 255, 255, 0.2);
  background:lightblue;
  margin: 0 auto !important;
  margin-top: 50px !important;
}

.submit3:hover{
  cursor: pointer;
  width: 40% !important;
  color: black;
  font-size: 18px;

}



.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.events{
  margin-top: 60px;
}
.card{
  width: 1200px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
  background: -webkit-linear-gradient(white, #38495a);
  background-clip:text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  font-family: "lato", sans-serif;
  color: black;
}

.submit3{
  text-align: center !important;
  justify-content: center;
    width: 500px;
    font-family:"lato";
    font-weight:900;
    font-size: 20px;
    box-shadow: 0 10px 30px 1px grey;
    background-color: rgb(136,146,176);
    color: black;
    border-style: none;
    border-radius: 0.3rem;
    justify-items: center;
    display:block;
    padding: 15px;
    margin: 10px;
    margin-top: 30px !important;
    margin: 0 auto;
    letter-spacing: 9px;
  }

@media screen and (max-width:1200px) {
  .cards{
    display: flex;
    flex-direction: column;
  }

  .submit3{
    text-align: center !important;
    justify-content: center;
      width: 300px;
      font-family:"lato";
      font-weight:900;
      font-size: 20px;
      box-shadow: 0 10px 30px 1px grey;
      background-color: rgb(136,146,176);
      color: black;
      border-style: none;
      border-radius: 0.3rem;
      justify-items: center;
      display:block;
      padding: 15px;
      margin: 0 auto;
      letter-spacing: 9px;
    }

    .submit3:hover{
      cursor: pointer;
      width: 60% !important;
      color: black;
      font-size: 18px;
    
    }
  .card_text{
    font-size: 80%;
  }
  .card{
    width: 75%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin: 0 auto;
  }

  .btnn{
    margin-top: -10px !important;
    font-size: 80%;
  }
}