/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main2{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  /* margin-left: 400px; */
  
}

h1 {
  font-family: "lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
body{
  /* position: fixed; */
  overflow: hidden;
  
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 12px !important;
  font-size: 14px;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  border-radius: 9px;
  font-weight: 900;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 7px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}



.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.events{
  margin-top: 60px;
}
.card{
  width: 1200px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
  background: -webkit-linear-gradient(white, #38495a);
  background-clip:text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  font-family: "lato", sans-serif;
  color: black;
}

@media screen and (min-width:50px) and (max-width:600px) {
  .cards{
    display: flex;
    flex-direction: column;
  }

  .card_text{
    font-size: 80%;
  }
  .card{
    max-width: 300px;
    /* margin-left: 30px; */
    margin-bottom: 30px;
  }
}